mixin addButton(style, text, boolIcon, classWidth)
    button(class= 'button button_' + style + ' ' + classWidth) #{text}
        - if(boolIcon)
            img(class="button__icon", src="../../images/icons/arrow-icon.svg", alt="arrow")

mixin breadcrumbs(list)
    .breadcrumb
        ul.breadcrumb__list
            img(src="../../images/images/polygon2.png", alt="polygon").breadcrumb__img
            for i in list
                li.breadcrumb__item= i

mixin brokenCube 
    img(src="../../images/images/bg-cube.png", alt="cube").broken-cube

mixin bisnessTrening(trening)
    h2.trening__title= trening.title 
    p.trening__whom= trening.listeners 
    p.trening__purpose= trening.purpose 
    
mixin listWithIcon(list)
    ul.list-icon
        for i in list
            li.list-icon__item= i
                img(src="../../images/icons/logo-cube.svg", alt="logo").list-icon__item-img
            
