mixin addButton(style, text, boolIcon, classWidth)
    button(class= 'button button_' + style + ' ' + classWidth) #{text}
        - if(boolIcon)
            img(class="button__icon", src=require("/src/images/icons/arrow-icon.svg"), alt="arrow")

mixin addButtonLink(link, text, boolIcon, classWidth)
    a(class= 'button button_blue button__link '+classWidth, href= link) #{text}
        - if(boolIcon)
            img(class="button__icon", src=require("/src/images/icons/arrow-icon.svg"), alt="arrow")

mixin breadcrumbs(list)
    .breadcrumb
        ul.breadcrumb__list
            img(src=require("/src/images/images/polygon2.png"), alt="polygon").breadcrumb__img
            for i in list
                li.breadcrumb__item= i

mixin brokenCube 
    img(src=require("/src/images/images/bg-cube.png"), alt="cube").broken-cube

mixin bisnessTrening(trening)
    h2.trening__title= trening.title 
    p.trening__whom= trening.listeners 
    p.trening__purpose= trening.purpose 

mixin bisnessTreningBig(trening)
    h2.marketing-header__title= trening.title 
    p.marketing-header__whom= trening.listeners 
    p.marketing-header__purpose= trening.purpose 

mixin listWithIcon(list)
    ul.list-icon
        for i in list
            li.list-icon__item= i
                img(src=require("/src/images/icons/logo-cube.svg"), alt="logo").list-icon__item-img

mixin listWithMarker(object)
    h5.topic__title= object.title
    ul.topic__list
        for i in object.list 
            li.topic__item-marker= i

mixin listSimple(object)
    h5.topic__title= object.title
    ul.topic__list
        for i in object.list 
            li.topic__item= i
            
mixin modalConsult
    .consult
        .row.justify-content-center.h-100
            .col-12.col-md-8.col-lg-6
                form.consult__form
                    input#name2.input(type='text', name='name', placeholder='Ваше имя')
                    label.input__message(for='name2') 
                    input#email2.input(type='email', name='email', placeholder='Email')
                    label.input__message(for='email2')
                    +addButton('green', btnForm, false, "consult__btn_width")
                    p.order__success-message
        img(src=require("/src/images/images/polygon2.png"), alt="poly").consult__img1
        img(src=require("/src/images/images/polygon2.png"), alt="poly").consult__img2
        img(src=require("/src/images/images/polygon2.png"), alt="poly").consult__img3